<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Not all who Wander are Lost...</h1>
    <p>If you're not wandering, you may be lost... head on back to the main page to find what you were looking for.</p>

<%- include('includes/end.ejs') %>